<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Data" version="1.7" targetFramework="net45" />
  <package id="DotSpatial.Mono" version="1.5.0" targetFramework="net45" />
  <package id="DotSpatial.Projections" version="0.11.9.6" targetFramework="net45" />
  <package id="DotSpatial.Serialization" version="0.11.9.6" targetFramework="net45" />
  <package id="DotSpatial.Topology" version="0.11.9.6" targetFramework="net45" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net45" />
  <package id="Mapgenix.Canvas" version="1.0.0.0" targetFramework="net45" />
  <package id="Mapgenix.Layers" version="1.0.0.0" targetFramework="net45" />
  <package id="Mapgenix.Shapes" version="1.0.0.0" targetFramework="net45" />
  <package id="Mapgenix.Styles" version="1.0.0.0" targetFramework="net45" />
  <package id="Mapgenix.Utils" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NetTopologySuite" version="1.14" targetFramework="net45" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net45" />
  <package id="Portable.Licensing" version="1.1.0" targetFramework="net45" />
  <package id="Trove.FLEE" version="0.9.26.0" targetFramework="net45" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net45" />
</packages>